Code/GeorgiaLibrarySystem-/GtlWebsite/Connected Services/LendingServiceReference/LendingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LendingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52690/Controller/LendingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52690/Controller/LendingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILendingService_LendBook_InputMessage">
    <wsdl:part name="parameters" element="tns:LendBook" />
  </wsdl:message>
  <wsdl:message name="ILendingService_LendBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:LendBookResponse" />
  </wsdl:message>
  <wsdl:message name="ILendingService_ReturnBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBook" />
  </wsdl:message>
  <wsdl:message name="ILendingService_ReturnBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnBookResponse" />
  </wsdl:message>
  <wsdl:portType name="ILendingService">
    <wsdl:operation name="LendBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILendingService/LendBook" message="tns:ILendingService_LendBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILendingService/LendBookResponse" message="tns:ILendingService_LendBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ILendingService/ReturnBook" message="tns:ILendingService_ReturnBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILendingService/ReturnBookResponse" message="tns:ILendingService_ReturnBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILendingService" type="tns:ILendingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LendBook">
      <soap:operation soapAction="http://tempuri.org/ILendingService/LendBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnBook">
      <soap:operation soapAction="http://tempuri.org/ILendingService/ReturnBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LendingService">
    <wsdl:port name="BasicHttpBinding_ILendingService" binding="tns:BasicHttpBinding_ILendingService">
      <soap:address location="http://localhost:52690/Controller/LendingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>