Code/GeorgiaLibrarySystem-/GtlWebsite/Connected Services/CopyServiceReference/CopyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CopyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52690/Controller/CopyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52690/Controller/CopyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICopyService_GetAvailableCopyId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCopyId" />
  </wsdl:message>
  <wsdl:message name="ICopyService_GetAvailableCopyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableCopyIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyService_GetTotalNrCopies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNrCopies" />
  </wsdl:message>
  <wsdl:message name="ICopyService_GetTotalNrCopies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalNrCopiesResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyService_GetOutOnLoan_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutOnLoan" />
  </wsdl:message>
  <wsdl:message name="ICopyService_GetOutOnLoan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutOnLoanResponse" />
  </wsdl:message>
  <wsdl:message name="ICopyService_DeleteCopy_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCopy" />
  </wsdl:message>
  <wsdl:message name="ICopyService_DeleteCopy_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCopyResponse" />
  </wsdl:message>
  <wsdl:portType name="ICopyService">
    <wsdl:operation name="GetAvailableCopyId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICopyService/GetAvailableCopyId" message="tns:ICopyService_GetAvailableCopyId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICopyService/GetAvailableCopyIdResponse" message="tns:ICopyService_GetAvailableCopyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalNrCopies">
      <wsdl:input wsaw:Action="http://tempuri.org/ICopyService/GetTotalNrCopies" message="tns:ICopyService_GetTotalNrCopies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICopyService/GetTotalNrCopiesResponse" message="tns:ICopyService_GetTotalNrCopies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutOnLoan">
      <wsdl:input wsaw:Action="http://tempuri.org/ICopyService/GetOutOnLoan" message="tns:ICopyService_GetOutOnLoan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICopyService/GetOutOnLoanResponse" message="tns:ICopyService_GetOutOnLoan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCopy">
      <wsdl:input wsaw:Action="http://tempuri.org/ICopyService/DeleteCopy" message="tns:ICopyService_DeleteCopy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICopyService/DeleteCopyResponse" message="tns:ICopyService_DeleteCopy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICopyService" type="tns:ICopyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableCopyId">
      <soap:operation soapAction="http://tempuri.org/ICopyService/GetAvailableCopyId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalNrCopies">
      <soap:operation soapAction="http://tempuri.org/ICopyService/GetTotalNrCopies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutOnLoan">
      <soap:operation soapAction="http://tempuri.org/ICopyService/GetOutOnLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCopy">
      <soap:operation soapAction="http://tempuri.org/ICopyService/DeleteCopy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CopyService">
    <wsdl:port name="BasicHttpBinding_ICopyService" binding="tns:BasicHttpBinding_ICopyService">
      <soap:address location="http://localhost:52690/Controller/CopyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>