Code/GeorgiaLibrarySystem-/GtlWebsite/Connected Services/MaterialServiceReference/MaterialService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaterialService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52690/Controller/MaterialService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52690/Controller/MaterialService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52690/Controller/MaterialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaterialService_GetMaterials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterials" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_GetMaterials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CreateMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMaterial" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CreateMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterial" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaterialService">
    <wsdl:operation name="GetMaterials">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/GetMaterials" message="tns:IMaterialService_GetMaterials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/GetMaterialsResponse" message="tns:IMaterialService_GetMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/CreateMaterial" message="tns:IMaterialService_CreateMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/CreateMaterialResponse" message="tns:IMaterialService_CreateMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/DeleteMaterial" message="tns:IMaterialService_DeleteMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/DeleteMaterialResponse" message="tns:IMaterialService_DeleteMaterial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMaterialService" type="tns:IMaterialService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMaterials">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/GetMaterials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMaterial">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/CreateMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterial">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/DeleteMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaterialService">
    <wsdl:port name="BasicHttpBinding_IMaterialService" binding="tns:BasicHttpBinding_IMaterialService">
      <soap:address location="http://localhost:52690/Controller/MaterialService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>