Code/GeorgiaLibrarySystem-/GtlWebsite/Connected Services/MaterialServiceReference/MaterialService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfreadAllMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="readAllMaterial" nillable="true" type="tns:readAllMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfreadAllMaterial" nillable="true" type="tns:ArrayOfreadAllMaterial" />
  <xs:complexType name="readAllMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Available_Copies" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="readAllMaterial" nillable="true" type="tns:readAllMaterial" />
</xs:schema>